.page-wrapper {
    width: 90%;
    padding-top: 50px;
    margin: auto;
}

.error-code {
    font-size: 60pt;
    margin: 0;
}

.error-desc {
    font-size: 16pt;
    margin: 12px 0 24px;
    font-weight: 300;
}

.return-button {
    padding: 8px 16px;
    font-size: 10pt;
    border: 1px solid black;
    background-color: #fff;
    cursor:pointer
}

.return-button:focus {
    outline: none;
}

@media only screen and (min-width: 800px)
{
    .page-wrapper {
        width: 80%;
    }
    .error-code {
        font-size: 120pt;
    }
    .error-desc {
        font-size: 24pt;
    }
    .return-button {
        padding: 10px 20px;
        font-size: 12pt;
        border: 1px solid black;
    }    
}