@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,600,700,700i&display=swap");
@import url('https://fonts.googleapis.com/css?family=Merriweather:400i,900i&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
