body {
    min-width: 280px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    padding: 0 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.navbar--transparent {
    background-color: transparent;
}

.navbar__transparent .toggle__bar {
    background-color: #fff;
}

.navbar--opaque {
    background-color: #fff;
}

.navbar--opaque .toggle__bar {
    background-color: #000;
}

.navbar__logo {
    display: block !important;
}

.navbar__buttons {
    display: none;
    align-items: center;
}

.navbar__buttons > a {
    text-decoration: none;
}

.navbar__link {
    margin: 0 20px 0 0;
    color: #fff;
    font-weight: 300;
    font-size: 14pt;
}

.navbar__link:hover {
    color: #adadad;
}

.navbar__button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 14pt;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.navbar__button:hover {
    color: #adadad;
    border: 2px solid #adadad;
}

.jumbotron {
    padding: 50px 40px 0;
    color: #fff;
    height: 600px;
    display: flex;
    align-items: center;
}

.jumbotron__wrapper {
    max-width: 400px;
}

.jumbotron__header {
    margin: 0;
    font-size: 34pt;
    font-weight: 700;
}

.jumbotron__desc {
    margin: 10px 0 20px;
    font-weight: 300;
    font-style: italic;
}

.jumbotron__button {
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background-color: #6e0f0d;
    color: #fff;
    font-size: 15pt;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.jumbotron__button:hover {
    background-color: #4e0c0b;
    color: #adadad;
}

@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 800px) {
    .jumbotron {
        padding: 50px 100px 0;
    }

    .jumbotron__wrapper {
        max-width: 604px;
    }
    .jumbotron__header {
        font-size: 50pt;
    }
    .navbar__toggle {
        display: none;
    }
    .navbar__buttons {
        display: flex;
    }
}

section {
    height: 300px;
    margin: 10px 0;
    background-color: #efefef;
}


.navbar__toggle {
    outline: none;
    background-color: transparent;
    padding: 0;
    border: none;
    position: fixed;
    top: 10px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.toggle__bar {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background: #fff;
}

#top-bar {
    top: 3px;
}

#middle-bar {
    top: 13px;
}

#bottom-bar {
    top: 23px;
}