body {
    min-width: 280px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    padding: 0 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.navbar--transparent {
    background-color: transparent;
}

.navbar--transparent .toggle__bar {
    background-color: #fff;
}

.navbar--opaque {
    background-color: #fff;
}

.navbar--opaque .toggle__bar {
    background-color: #000;
}

.navbar__logo {
    display: block !important;
}

.navbar__buttons {
    display: none;
    align-items: center;
}

.navbar__buttons--expand {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex !important;
    flex-direction: column;
}

.navbar__buttons--expand .navbar__link {
    margin: 0;
}

.navbar__buttons--expand > * {
    margin-bottom: 20px;
}

.navbar__buttons > a {
    text-decoration: none;
}

.navbar__link {
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 14pt;
}

.navbar--transparent .navbar__link {
    color: #fff;
}

.navbar--opaque .navbar__link {
    color: #000;
}

.navbar--transparent .navbar__link:hover {
    color: #adadad;
}

.navbar--opaque .navbar__link:hover {
    color: #585858;
}

.navbar__button {
    background-color: transparent;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 14pt;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.navbar--transparent .navbar__button {
    color: #fff;
    border: 1px solid #fff;
}

.navbar--opaque .navbar__button {
    color: #000;
    border: 1px solid #000;
}

.navbar--transparent .navbar__button:hover {
    color: #adadad;
    border: 1px solid #adadad;
}

.navbar--opaque .navbar__button:hover {
    color: #585858;
    border: 1px solid #585858;
}

.navbar__rush-link {
    display: block;
}

.navbar__rush-button {
    display: none;
}

.navbar__toggle {
    outline: none;
    background-color: transparent;
    padding: 0;
    border: none;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.toggle__bar {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background: #fff;
}

#top-bar {
    top: 3px;
}

#middle-bar {
    top: 13px;
}

#bottom-bar {
    top: 23px;
}

.jumbotron {
    padding: 50px 40px 0;
    color: #fff;
    height: 600px;
    display: flex;
    align-items: center;
}

.jumbotron__wrapper {
    max-width: 400px;
}

.jumbotron__header {
    margin: 0;
    font-size: 34pt;
    font-weight: 700;
}

.jumbotron__desc {
    margin: 10px 0 20px;
    font-weight: 300;
    font-style: italic;
}

.jumbotron__button {
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background-color: #6e0f0d;
    color: #fff;
    font-size: 15pt;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.jumbotron__button:hover {
    background-color: #4e0c0b;
    color: #adadad;
}

.content-section {
    position: relative;
    min-height: 300px;
    padding: 30px 15px;
    display: flex;
    justify-content: center;
}

.content-section:nth-child(2n) {
    background-color: #efefef;
}

.content-section__anchor {
    position: absolute;
    top: -60px;
}


.content-section__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section__header {
    margin: 0;
    font-size: 30pt;
    font-weight: 100;
}

.content-section__desc {
    font-size: 14pt;
    font-weight: 300;
    margin: 30px 0px 20px;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons > *:nth-child(2) {
    margin: 0 20px;
}

.icons__link {
    color: #000;
}

@media only screen and (min-width: 800px) {
    .jumbotron {
        padding: 50px 100px 0;
    }

    .jumbotron__wrapper {
        max-width: 604px;
    }
    .jumbotron__header {
        font-size: 50pt;
    }
    .jumbotron__desc {
        font-size: 18pt;
    }
    .navbar__toggle {
        display: none;
    }
    .navbar__buttons {
        display: flex;
    }
    .navbar__rush-link {
        display: none;
    }
    .navbar__rush-button {
        display: block;
    }
    .content-section {
        padding: 60px 0;
    }
    .content-section__header {
        font-size: 42pt;
    }
    .content-section__wrapper {
        width: 80%;
    }
}